
.ipynb_checkpoints/justin_scrape-checkpoint.ipynb
.ipynb_checkpoints/Meaghan_scrape-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.Rhistory
.Rproj.user/411368F9/pcs/files-pane.pper
.Rproj.user/411368F9/pcs/source-pane.pper
